@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;800&display=swap");

$cl-primary          : #67c9e0;
$cl-secondary        : #f15b5a;
$cl-background       : #60646d;
$cl-background-darken: #9ba0aa;
$cl-text-color-white : #fefefe;
$cl-text-color-grey  : #bbbfc9;
$cl-text-color-black : #3a3c41;
$cl-font             : "Raleway", sans-serif;
