@import "__variables";

form {
    border-radius: 10px;
    padding-bottom: 3rem;
    background: $cl-text-color-white;
}

.form-control {
    height: 30px;
    border: none;
    border-bottom: 1px solid #333;
    width: 100%;
    // background: none;
    font-weight: 600;
    border-radius: 0;
    font-family: $cl-font;

    &:focus{
        outline: none;
        box-shadow: none;
    }
    &.is-invalid{
        border-color: $cl-error-color;
        color: $cl-error-color !important;
        &::placeholder{
            color: $cl-error-color;
        }
    }
}


.header {
    background: $cl-background;
    color: $cl-text-color-white;
}

.register {
    background: $cl-primary;
    border-radius: none;
    border: none;
    &:hover {
        transition: background-color 200ms ease-out;
        background-color: darken($cl-primary, 15);
        color: $cl-text-color-white;
    }
}

.file-upload .btn {
    position: absolute;
    margin-top: 115px;
    margin-left: 115px;
    background-color: $cl-background;
    color: $cl-text-color-white;
    font-size: 19px;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 0 6px;
}

input {
    height: 0px;
    width: 0px;
    overflow: hidden;
}

