<nav class="autohide navbar navbar-expand-lg darken">
  <div class="container-fluid px-4">
    <small class="darken strong">Bienvenido a MedicalPress</small>
    <small>
      <label class="darken strong">Abierto:</label> Lunes a Viernes de
      <strong>8:00</strong> a <strong>19:00hs</strong> y Sábados de
      <strong>8:00</strong> a <strong>14:00hs</strong>
    </small>
    <small>
      <label class="darken strong">Contacto:</label> 0800-654-3210
    </small>
  </div>
  <!-- container-fluid.// -->
</nav>
