<div class="col-12 personal-card">
  <picture class="m-0">
    <img
      [attr.src]="'../../../assets/images/' + personal.photo"
      [attr.alt]="'dr. ' + personal.name + ' ' + personal.lastName"
      width="100%"
      height="50%"
      class="img-fluid"
      style="position: relative;"
    />
  </picture>

  <div class="text-content">
    <h5>
      Dr. {{ personal.name | titlecase }} {{ personal.lastName | titlecase }}
    </h5>
    <hr>
    <p>
      {{ personal.specialty | titlecase }}
    </p>
  </div>
</div>
